:root{
    --bg-1:rgb(182, 128, 27);
    --bg-2:rgb(48, 41, 41);
    --bg-3:rgb(61, 58, 58);
    --bg-4:rgb(82, 78, 78);
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}
img{
    width: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
ul{
    list-style: none;
}
.btn{
    color: white;
    padding: 15px 30px;
    border: 3px solid var(--bg-1);
    border-radius: 5px;
    transition: 0.5s;
    text-transform: capitalize;
    font-size: 15px;
}
.btn:hover{
    background-color: var(--bg-1);
}
.btn-classic{
    color: white;
    padding: 15px 30px;
    border: 3px solid var(--bg-1);
    border-radius: 5px;
    transition: 0.5s;
    text-transform: capitalize;
    font-size: 15px;
    background-color: var(--bg-1);
}
.btn-classic:hover{
    background-color: transparent;
}
.text-title{
    color: var(--bg-1);
    font-size: 35px;
    font-weight: 700;
    position: relative;
    margin-bottom: 20px;
}
.text-title::after{
    content: '';
    width: 100px;
    height: 6px;
    border-bottom: 3px solid var(--bg-1);
    position: absolute;
    bottom: 0;
    left: 0;
}

i.fa-bars{
    color: white;
    display: none;
}
/* =====header===== */

.header-section{
    width: 100%;
    /* background-color: yellow; */
    background-image: linear-gradient(to right, rgb(48, 41, 41)60%,var(--bg-1)20%);
    display: grid;
    grid-template-areas: 
        "header header header header"
        "navbar navbar navbar navbar"
        "hero hero hero hero";
    overflow: hidden;
}
.header-section .header{
    grid-area: header;
    height: 600px;
    padding: 15px 5%;
}
.header-section .header .navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    margin: 0 5%;
    grid-area: navbar;
    display: grid;
    grid-template-columns: 3fr 1fr;
    place-items: space-between;
    padding: 0 15px;
    /* width: 100%; */
}
.scrol{
    background-color: rgb(122, 111, 111);
    border-radius: 0 0 20px 20px;
    transition: 0.5s;
}
.header-section .header .navbar .logo a{
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.header-section .header .navbar .logo a span{
    color: var(--bg-1);
    font-family: 'Action Man Shaded', sans-serif;
    font-size: 50px;
}
.header-section .header .navbar .list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    justify-self: end;
    align-self: center;
    
}
.header-section .header .navbar .list li a{
    color: white;
    font-weight: 600;
    /* margin: 0 5px; */
    padding: 10px;
    transition: 0.5s;
}

.header-section .header .navbar .list li a.active{
    border-bottom: 3px solid var(--bg-2);
    width: 30px;
    color: var(--bg-2);
}
.header-section .header .navbar .list li a:hover{
    border-bottom: 3px solid var(--bg-2);
    width: 30%;
    color: var(--bg-2);
}

/* ===== her0 ==== */
.header-section .header .hero{
    margin-top: 140px;
    grid-area: hero;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}
.header-section .header .hero .hero-text{
    /* background-color: yellow; */
    align-self: center;
    /* justify-self: center; */
    line-height: 1.3;
    margin-left:150px ;
}
.header-section .header .hero .hero-text p{
    color: white;
    font-size: 25px;
}
.header-section .header .hero .hero-text h2{
    color: var(--bg-1);
    font-weight: 700;
    font-size: 60px;
}
.header-section .header .hero .hero-text p#spesial{
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 35px;
}
.header-section .header .hero .hero-text p#spesial span{
    color: var(--bg-1);
    font-weight: 700;
}

.header-section .header .hero .hero-img{
    /* background-color: green; */
    width: 60%;
}
.header-section .header .hero .hero-img img{
    width: 100%;
    border-radius: 20px;
    transition: 0.5s;
}
.header-section .header .hero .hero-img img:hover{
    box-shadow: 20px 20px 50px var(--bg-3);
}

/* ===== About ===== */
.about-section{
    background-color: var(--bg-3);
    padding: 30px 5%;
    height: 570px;
    overflow: hidden;
    
}
.about{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 15px;
    /* place-items: center; */
    margin-top: 60px;
    justify-content: center;
    justify-items: center;
}
.about .about-img{
    /* background-color: green; */
    width: 270px;
    justify-self: end;
    align-self: center;
}
.about .about-img{
    position: relative;
    z-index: 1;
    transition: 0.5s;
}
.about .about-img::before{
    content: '';
    width: 98%;
    height: 98%;
    position: absolute;
    border: 6px solid var(--bg-1);
    top: 20px;
    left: -30px;
    z-index: -1;
    transition: 0.5s;
}
.about .about-img:hover::before{
    /* z-index: 2; */
    content: '';
    border: 6px solid white;
}
.about .about-img img{
    border: 10px solid var(--bg-4);
    transition: 0.5s;
}
.about .about-img img:hover{
    
    border: 10px solid white;
}
.about .about-item{
    /* background-color: yellow; */
    justify-self: start;
}
.about .about-item p{
    width: 60%;
    color: white;
    font-size:16px ;
    margin-bottom: 30px;
}

/* ===== Service ===== */
.service-section{
    padding: 70px 5%;
    background-color: var(--bg-2);
}
.service .service-text{
    width: 700px;
}
.service .service-text p{
    color: white;
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
}
.service-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
    justify-items: start;
    /* background-color: green; */
}
.service .service-img .item{
    /* background-color: yellow; */
    padding: 30px;
    border-radius: 5px;
    width: 100%;
    position: relative;
    background-color: var(--bg-1) ;
}
.service .service-img .item::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--bg-2);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    opacity: 0.5;
    transition: 0.5s;
}
.service .service-img .item:hover::before{
    opacity: 0;
}
.service .service-img .item i{
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
}
.service .service-img .item h3{
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
}
.service .service-img .item p{
    color: white;
    font-size: 12px;
    text-align: justify;
}

@media only screen and (max-width: 700px) {



    .text-title{
        font-size: 25px;
        grid-area: header;
    }
    a.btn{
        padding: 7px 15px;
        font-size: 12px;
        grid-area: btn1;
    }
    .btn-classic{
        grid-area: btn2;
        padding: 7px 15px;
        font-size: 12px;
    }
   

    /* ========================================== */
    .header-section{
        width: 100%;
        display: block;

    }
    .header-section .header .navbar{
        padding-top: 10px;
        /* width: 100%; */
        display: flex;
        align-items: center;
        right: 0;
        justify-items: end;
    }
    .header-section .header .navbar .list{
        position: absolute;
        right: -20px;
        top: 50px;
        line-height: 50px;
        display: block;
        align-items: center;
        justify-items: center;
        background-color: white;
        padding: 10px;
        border-radius: 20px 0 0 20px;
        transform: translateX(150%);
        transition: all 0.5s;

    }
    .header-section .header .navbar .on{
        
        transform: translateX(0);
    }
    .header-section .header .navbar .list li a{
        color: var(--bg-1);
    }
    .header-section .header .navbar .logo a{
        font-size: 22px;
    }
    .header-section .header .navbar .logo a span{
        font-size: 30px;
    }
    i.fa-bars{
        display: block;
        position: absolute;
        right: 20px;
        top: 25px;
        cursor: pointer;
        transition: 0.5s;
    }
    i.fa-bars:hover{
        color: var(--bg-2);
    }
    .scrol{
        background-color: transparent;
    }

    .header-section .header .hero{
        grid-template-columns: 1fr;
    }
    .header-section .header .hero .hero-img{
        display: none;
    }
    .header-section .header .hero .hero-text{
        /* background-color: yellow; */
        align-self: center;
        /* justify-self: center; */
        line-height: 1.6;
        margin-top: 60px;
        margin-left:20px ;
    }
    .header-section .header .hero .hero-text p{
        /* color: white; */
        font-size: 26px;
    }
    .header-section .header .hero .hero-text h2{
        color: white;
        font-size: 40px;
    }
    .header-section .header .hero .hero-text p#spesial{
        font-size: 12px;
        font-weight: 200;
        margin-bottom: 35px;
    }
    .header-section .header .hero .hero-text p#spesial span{
        color: white;
        font-weight: 700;
    }

    /* ======= about ====== */
    .about-section{
        background-color: var(--bg-3);
        padding: 30px 5%;
        height: 570px;
        overflow: hidden;
        
    }
    .about{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        /* place-items: center; */
        margin-top: 60px;
        justify-content: center;
        justify-items: center;
    }
    .about .about-img{
        /* background-color: green; */
        width: 120px;
        justify-self: center;
        align-self: center;
    }
    .about .about-img{
        position: relative;
        z-index: 1;
        transition: 0.5s;
    }
    .about .about-img::before{
        content: '';
        width: 98%;
        height: 98%;
        position: absolute;
        border: 2px solid var(--bg-1);
        top: 10px;
        left: -15px;
        z-index: -1;
        transition: 0.5s;
    }
    .about .about-img:hover::before{
        /* z-index: 2; */
        content: '';
        border: 2px solid white;
    }
    .about .about-img img{
        border: 2px solid var(--bg-4);
        transition: 0.5s;
    }
    .about .about-img img:hover{
        
        border: 2px solid white;
    }
    .about .about-item{
        /* background-color: yellow; */
        justify-self: center;
        display: grid;
        grid-template-areas: 
        "header header"
        "content content"
        "btn1 btn2";
        gap: 2px;
        grid-template-columns:1fr 2fr ;

    }
    .about .about-item a{
        justify-content: center;
        align-content: center;
    }
    .about .about-item p{
        width: 80%;
        /* text-align: justify; */
        grid-area: content;
        color: white;
        font-size:11px ;
        margin-bottom: 30px;
    }

    /* ========= service ======= */
    .service-section{
        padding: 70px 5%;
        background-color: var(--bg-2);
    }
    .service .service-text{
        width: 100%;
    }
    .service .service-text p{
        color: white;
        font-weight: 300;
        font-size: 12px;
        /* text-align: ; */
    }
    .service-img{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin-top: 20px;
        justify-items: start;
        /* background-color: green; */
    }
    .service .service-img .item{
        /* background-color: yellow; */
        padding: 15px;
        border-radius: 5px;
        width: 100%;
        position: relative;
        background-color: var(--bg-1) ;
    }
    .service .service-img .item::before{
        content: '';
        width: 100%;
        height: 100%;
        background-color: var(--bg-2);
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 5px;
        opacity: 0.5;
        transition: 0.5s;
    }
    .service .service-img .item:hover::before{
        opacity: 0;
    }
    .service .service-img .item i{
        color: white;
        font-size: 15px;
        margin-bottom: 10px;
    }
    .service .service-img .item h3{
        color: white;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .service .service-img .item p{
        color: white;
        font-size: 12px;
        text-align: justify;
    }
}